.root {
    -fx-font-size: 12;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.input_field{
    -fx-pref-columns: 10;
    -fx-font-family: monospace;
}

.title{
    -fx-margin: 10;
    -fx-font-family: monospace;
    -fx-alignment: TOP_CENTER;
}

#statusBarText {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10;
    -fx-font-family: monospace; 
}

