.root {
    -fx-font-size: 14sp;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.input_field{
    -fx-padding: 25;
    -fx-margin: 50;
    -fx-border-width: 1;
    -fx-border-color: #000000;
}

.toolbar_button{
    -fx-margin: 3dp;
    -fx-font-size: 10sp;
    -fx-font-family: arial;
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.title{
    -fx-margin: 10dp;
    -fx-font-size: 40sp;
    -fx-font-family: monospace;
    -fx-alignment: center;
}

#status_bar {
    -fx-alignment: left;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: #000000 transparent transparent transparent;
    -fx-font-family: monospace; 
}

#toolbar {
    -fx-alignment: left;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #000000 transparent;
}

